body {
    background-image: url(../images/science.png);
    font-family: 'Roboto';
}

.top {
    height: 20px;
}
.main-box {
    /* min-height: 60vh; */
    background-color: lightskyblue;
}

.box-header {
    font-family: 'Righteous';
    text-shadow:2px 2px 0 rgba(0,0,0,0.1);
}

.start {
    color: #ff7665;
    border-color: #ff7665;
    border-width: 5pt;
    font-size: 50pt;
    font-weight: bold;
    text-shadow:2px 2px 0 rgba(0,0,0,0.1);
    margin-bottom: 20px;
   
}
.question-block {
    height: 100%;
}
#question {
    margin-bottom: 15px;
    font-size: 20px;
}
.timer {
    /* margin-bottom:10px; */
}

.multiple-choice {
    padding-top: 5pt;
    padding-bottom: 5pt;
    font-weight: bold;
    background-color: lightskyblue;
    border: 2pt solid lightskyblue;
}
.multiple-choice:hover {
    border: 2pt solid #ff7665;
}
.footer {
    height: 20px;
}
.nope {
    font-size: 40pt;
    color: red;
    font-family: 'Righteous';
}
.yup {
    font-size: 40pt;
    color: lime;
    font-family: 'Righteous';
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    img {
        width: 90vw;
    }
}